<div class="view main-wrapper">
    <div class="center-wrapper">
        <div class="grid-content">
            <div id="proj1" class="grid-tile"></div>
            <div id="proj2" class="grid-tile"></div>
            <div id="proj3" class="grid-tile"></div>
            <div id="proj4" class="grid-tile"></div>
            <div id="proj5" class="grid-tile"></div>
            <div id="proj6" class="grid-tile">
                <div class="filter">

                </div>
            </div>
        </div>
    </div>
</div>