.main-wrapper {
  margin-top: 7%;

  .center-wrapper {
    width: 60%;
    margin: 0 auto;

    .grid-content {
      display: grid;
      grid-template:
        "proj1 proj2 proj4 proj5" 100px
        "proj1 proj2 proj4 proj5" 100px
        "proj1 proj3 proj4 proj6" 100px
        "proj1 proj3 proj4 proj6" 100px / 1fr 1fr 1fr 1fr;
      grid-gap: 10px;

      .grid-tile {
        border: 1px solid #f5f5f5;
        background-image: url("../../assets/susan-q-yin-Ctaj_HCqW84-unsplash.jpg");
        background-position: center;
        background-size: cover;
        position: relative;

        &:hover .filter {
          width: 100%;
        }

        .filter {
          position: absolute;
          left: 0;
          top: 0;
          width: 0;
          height: 100%;
          background: rgba(255, 255, 255, 0.611765);
          -webkit-transition: all 0.5s cubic-bezier(0.86, 0, 0.07, 1) 0.2s;
          -o-transition: all 0.5s cubic-bezier(0.86, 0, 0.07, 1) 0.2s;
          transition: all 0.5s cubic-bezier(0.86, 0, 0.07, 1) 0.2s;
        }
      }

      #proj1 {
        grid-area: proj1;
      }

      #proj2 {
        grid-area: proj2;
      }

      #proj3 {
        grid-area: proj3;
      }

      #proj4 {
        grid-area: proj4;
      }

      #proj5 {
        grid-area: proj5;
      }

      #proj6 {
        grid-area: proj6;
      }
    }
  }
}