.main-wrapper {

  margin-top: 10%;

  .center-wrapper {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;


    .left-part {

      p {
        color: #7d7d7d;
        margin-top: 50px;
        width: 80%;
      }

      span {
        display: block;
        font-size: 4.3rem;
        box-sizing: inherit;
        line-height: 65px;
        font-weight: 700;
        width: fit-content;
        letter-spacing: .07em; /* Adjust as needed */
      }

      .last-span {

        position: relative;

        &:after {
          position: absolute;
          top: 85px;
          right: 50%;
          content: "";
          display: block;
          width: 40%;
          background: #E07A5F;
          height: 5px;
        }
      }

      .changing-span {
        padding-left: 50px;
      }

      .span-typewriter {
        width: max-content;
      }
    }


    .home-image {
      img {
        width: 500px;
        height: 500px;
      }
    }
  }
}

.invisible {
  display: none !important;
}

.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 5px solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  animation: typing 2.5s steps(30, end),
  blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0
  }
  to {
    width: 85%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to {
    border-color: transparent
  }
  50% {
    border-color: #E07A5F;
  }
}